/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-gen-2019, 13.36.03
    Author     : tss
*/
/*
input {
    background-color:   yellow;
    border:             solid 1px blue;
    border-radius:      10px;
    color:              red;
    font-size:          16px;
    height:             20px;
    padding:            5px 10px;
    width:              200px;
}

input:focus, textarea:focus {
    background-color:   magenta;
    color:              white;
    font-weight:        bold;
    outline:            none;
}

input:hover {
    border:             dotted 1px red;
}
*/
/* ::super-pseudoclasse - NON funziona con tutti i browser */
/*
input::placeholder {
    color:              black;
    font-size:          10px;
    font-weight:        normal;
}
*/
label {
    cursor:             pointer;
    display:            inline-block;
    margin-right:       20px;
    width:              60px;
}

form div {
    margin:             10px;
}
/*
input[type="password"] {
    background-color:   green;
}

input[type="password"]:focus {
    background-color:   greenyellow ;
}
*/
input[type="text"] {
    text-transform:     uppercase;
}
/*input[maxlength] {} per tutti gli input che hanno l'attributo maxlength, non importa il valore */
input[maxlength="6"] {
    width:              90px;
}

input[type="checkbox"],
input[type="radio"] {
    height:             1em;
    width:              1em;    /* larghezza: 1 carattere   */
}
/*
input[type="checkbox"]:focus,
input[type="radio"]:focus {
    outline:            solid 1px red;
}

input[type="text"][disabled] {
    color:              gray;
    background-color:   lightgray;
}

select {
    background-color:   yellow;
    color:              black;
    text-transform:     capitalize;
}

select option {
    background-color:   blue;
    color:              red;
    font-style:         italic;
    text-transform:     capitalize;
}

select option:nth-child(odd) {
    background-color:   aqua;
}

select option[selected] {
    background-color:   red;
    color:              white;
}

select optgroup {
    background-color:   green;
    color:              darkorange;
    font-size:          10px;
    font-weight:        lighter;
    text-transform:     uppercase;
}

textarea {
    border:             solid 1px blue;
    border-radius:      10px;
    eight:              3em;
  //overflow:           scroll;
    overflow:           auto;
    padding:            5px;
  //white-space:        normal;
    white-space:        pre;
    width:              250px;
}

div *:nth-child(2) {
    opacity:            .2;
}

div *:nth-child(1):hover + * {
    opacity:            1;
}
*/
input[type="image"] {
    width:              100px;
}

div.inline {
    display:            inline-block;
    width:              300px;
}

form {
    border:             solid;
    width:              1000px;
}