/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-gen-2019, 16.23.09
    Author     : tss
*/
img {
    position:   absolute;
    left:       600px;
    top:        200px;
    transition: all 4s;
    transform-origin: right top;
}

#image:hover {
    /*transform:  rotateZ(360deg);*/
    /*transform:  rotateY(360deg);*/
    transform:  rotateX(360deg);
}

#watermelons:hover {
    opacity: 0;
}