build/
dist/
/Java/Java - Me/lez14_servlet/nbproject/private/
/PHP/html/JavaScript/Lez05_Marchisio/nbproject/private/
/PHP/html/JavaScript/Lez05_Marchisio_posizionamento/nbproject/private/
/PHP/html/JavaScript/Lez04_Marchisio_forms_buttons_rotations/nbproject/private/
/PHP/html/JavaScript/Lez02_Marchisio/nbproject/private/
/PHP/html/JavaScript/Lez03_Marchisio_hypertextExercise/nbproject/private/
/PHP/html/JavaScript/Lez06_position/nbproject/private/
/PHP/html/JavaScript/Lez01_Marchisio/nbproject/private/
/PHP/html/JavaScript/Lez09_Marchisio_animation/nbproject/private/
/PHP/html/JavaScript/Lez06_Marchisio_celleCambiaColore/nbproject/private/
/PHP/html/JavaScript/Lez03_Marchisio_counters/nbproject/private/
/PHP/html/JavaScript/Lez07_Marchisio_tasti/nbproject/private/
/PHP/html/JavaScript/Lez11_Marchisio_gridLayout/nbproject/private/
/PHP/html/JavaScript/Lez08_Marchisio_sfondi/nbproject/private/
/PHP/html/JavaScript/Lez05_Marchisio_veicoli/nbproject/private/
/PHP/html/JavaScript/Lez03_Marchisio_links/nbproject/private/
/PHP/html/JavaScript/Lez03_Marchisio_forms/nbproject/private/
/PHP/html/JavaScript/Ardissone_TicTacToe/nbproject/private/
/PHP/html/JavaScript/Lez10_Marchisio_memory/nbproject/private/
/Java/Java - Me/lez15_servlet/target/
/JavaScript/Lez12_Marchisio_json/nbproject/private/
/Java/Java - Me/noleggio-bici/target/
/Java/Java - Me/nostalciac/target/
/Java/Java - Me/lez16_collections/nbproject/private/