/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-feb-2019, 13.43.00
    Author     : tss
*/
div {
    display: inline-block;
    vertical-align: top;
}

table {
    border-collapse: collapse;
}

table td {
    border: solid 1px black;
    height: 50px;
    width: 50px;
}
