/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-feb-2019, 14.16.23
    Author     : tss
*/
.quadrante {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 100px;
    left: 100px;
    background-color: grey;
    border-radius: 50%;
}

.lancetta {
    position: absolute;
    width: 20px;
    height: 250px;
    top: 0px;
    left: 240px;
    background-color: red;
    transform-origin: center bottom;
    animation-name: giro;
    animation-duration: 0.001s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-play-state: paused;
}

.quadrante:hover .lancetta {
    animation-play-state: running;
}

@keyframes giro {
    100% {
        transform: rotate(360deg);
    }
}
